/* PALETA DE COLORES - Variables reutilizables en todo el documento */
:root {
    --verde-claro: #F2FBF6;      /* Color de fondo principal */
    --verde-pastel: #E6F7EA;     /* Para secciones destacadas */
    --verde-menta: #D6EFD7;      /* Efectos hover y secundarios */
    --verde-medio: #A8D6A3;      /* Botones y footer */
    --verde-oscuro: #12321A;     /* Textos y bordes */
}

/* Reset básico para eliminar estilos por defecto del navegador */
* {
    margin: 0;                   /* Elimina márgenes por defecto */
    padding: 0;                  /* Elimina padding por defecto */
    box-sizing: border-box;      /* Incluye padding y border en el ancho total */
}

/* Estilos generales del body */
body {
    font-family: "Poppins", Arial, sans-serif;  /* Fuente principal con fallback */
    background-color: var(--verde-claro);       /* Fondo verde claro */
    color: var(--verde-oscuro);                 /* Color de texto principal */
    min-height: 100vh;                          /* Mínimo altura de ventana completa */
}

header {
    background-color: var(--verde-pastel);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}
header button{
    background-color: var(--verde-menta);
    color: var(--verde-oscuro);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
}
header button:hover{
    background-color: var(--verde-pastel);
    transform: scale(1.05);

}

/* ====== MAIN ====== */
main {
    max-width: 1200px;                          /* Ancho máximo del contenido */
    margin: 0 auto;                             /* Centra horizontalmente */
    padding: 30px 20px;                         /* Espaciado interno */
}

/* ====== FORM ====== */
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 20px;
    border: 1px solid var(--verde-oscuro);
}

.form-group{
    display: block;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--verde-oscuro);
    padding: 10px;
}

.form-group button{
    background-color: var(--verde-menta);
    color: var(--verde-oscuro);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;

}